#display-blogs{
    padding: 40px;
    width: calc(100vw - 420px);
    margin-left: 390px;
}

.each-blog{
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    border-radius: 2px solid grey;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.edit{
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: space-between;
}
.display-blogs-class{
    display: flex;
}
.delete{
    color: red;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
}