#sidebar{
    width: 400px;
    background-color: black;
    height: 100vh;
    display: flex;
    overflow: auto;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    .create-blog{
        color: black;
        background-color: white;
        padding: 15px;
        border-radius: 18px;
        font-size: 16px;
        font-weight: bold;
        width: 140px;
        cursor: pointer;
    }
    a{
        text-decoration: none;
    }
    
    .pages{
        display: flex;
        flex-direction: column;
    }
    .signout{
        background-color: transparent;
        color:white;
        border: none;
        font-size: 16px;
        padding: 20px;
        font-weight: bold;
        cursor: pointer;
    }
}


li{
    margin-top: 25px;
}
.activeRoute{
    border-bottom: 2px solid white;
    margin-top: 24px;
    
}