.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

input{
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    margin: 5px;
    width: 400px;
  }